<section class="banner_2">
  <section class="center clearfix">
    <section class="logo">
      <%= image_tag "skunkbank_logo.png"%>
    </section>
    <section class="tagline">
      <h1>Skunkbank</h1>
      <h2>home to open source skunkworks</h2>
    </section>
  </section>
</section>
<section class="banner_3">
</section>
<section class="center clearfix">
  <section class="column_1">
    <h2>Team tracking</h2>
    This is the section about tracking teams within companies and across companies. Features like banking skunkworks hours, tracking which hours are devoted to which project.
  </section>
  <section class="column_2">
    <h2>Leaderboards</h2>
    This is the section about tracking teams within companies and across companies. Features like banking skunkworks hours, tracking which hours are devoted to which project.
  </section>
  <section class="column_3">
    <h2>Integration</h2>
    This is the section about tracking teams within companies and across companies. Features like banking skunkworks hours, tracking which hours are devoted to which project.
  </section>
</section>